<!DOCTYPE html>

<html>

<head>
    <title>Error 404</title>
    <link rel="icon" href=" /img/tab_icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="body">
        <div class="content">
        {{>header}}
        <h1>{{errormessage}}</h1>
    </div>
<footer>
    {{>footer}}

</footer>
    </div>
</body>

</html>