<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href=" /img/tab_icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="body">
        <div class="content">
            {{>header}}
            <p>
            This application is created by Ayush Verma ,

            </p>
            <p>
                It uses data's from mapbox and weatherstack.
            </p>
            <p>Instagram Link : <a href="https://www.instagram.com/ayush_verma_333/" class ="link" target="_blank">ayush_verma_333</a></p>
            <p>LinkedIn Link : <a href="https://www.linkedin.com/in/ayush-verma-a45454146/" class="link" target="_blank">ayush-verma-a45454146</a></p>
    <img class="portrait" src="/img/ayush.jpg">
    </div>

    <footer>

        {{>footer}}
    </footer>
    </div>
    
</body>

</html>