<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href=" /img/tab_icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="body">
        <div class="content">
    {{>header}}

    </div>
    <footer>
        {{>footer}}

    </footer>
    </div>
</body>

</html>