<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href=" /img/tab_icon.png">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    
<div class="body">
        <div class="content" >
        {{>header}}
        <p>&nbsp&nbsp&nbspType your Address</p>
        <form>
            <input type="text" placeholder="Your Address Here">
            <button>Search</button>
        </form>

        <p id="m1"> </p>
        <p id="m2"> </p>

    </div>



    <footer>
        {{>footer}}
    </footer>
    <script src="/js/app.js"></script>
</div>
</body>

</html>